body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
width:100%;
}

#login{
background-color:darkred;
border:solid;
border-color:darkred;
padding:10px;
color:white;
width: 250px;
margin-left:40%;
border-radius:10px
}

#titulo{
	background-color:darkred; 
	color: white;
	padding:10px;
	border-radius:10px
}

#cadastro_usuario{
background-color:darkred;
border:solid;
border-color:darkred;
height:300px;
width:70%;
margin:10%;
margin-left:15%;
border-radius:10px
}

#recuperacao_senha{
background-color:#F0F0F0;
border-radius:10px
}

input,select{
border-radius:5px;
padding:5px;
margin:10px;
}

#cadastro_usuario #formulario input, select{
width:45%;
}

#button{
background-color:darkred;
color:white;
width:80px;
border-radius:5px;
padding:5px;
margin:10px;
height:40px;
}

form{
margin-left:10px;
}

p{
font-weight:bold;
padding:10px;
}

a{
margin-left:15%;
}

#formulario{
height:210px;
width: 250px;
margin-left:40%;
border-radius:0px 0px 10px 10px;
background-color:#F0F0F0;
}

/* ESTRUTURA BÁSICA - HEADER, FOOTER E CONTAINER */

header{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    background-color: #7F0A00;
    color: #fff;
    font-weight: 500;
}

footer{
    width: 100%;
    height: 150px;
    position: relative;
    float: left;
    padding: 1%;
    background-color: #7F0A00;
    color: #fff;
    font-weight: 500;
}

footer a{
    text-decoration-line: none;
    color: #fff;
    margin-left: -0.2%;
}

footer a:hover{
    text-decoration-line: none;
    color: #00f;
}

.img-responsive-logo-cps{
    width: 230px;
    height: 89px;
}

.figure-header{
    position: relative;
    float: left;
    margin: 25px 0px 0px 100px;
    width: 230px;
    height: 89px;
    z-index: 2;
}

.figure-header a{
    position: relative;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 230px;
    height: 89px;
}

.title-header{
    position: relative;
    width: 900px;
    height: auto;
    left: 15%;
    margin: 4% 0px 5% 0px;
    z-index: 1;
}

.bg-red{
    margin-top: -2%;
    background-color: #b91000;
}

/* PÁGINA enviar-arquivos.PHP */

.form-arquivo{
    background-color: #eeeeee;
    border: 2px solid #b91000;
    border-radius: 5px;
    margin-top: 4%;
}

.title-form{
    font-size: 18px;
    width: 100%;
    height: 60px;
    background-color: #b91000;
    color: #fff;
    font-weight: 500;
    padding-left: 5%;
    padding-top: 2.5%;
    margin-bottom: 4%;
}

form a{
    text-decoration: none;
    color: #fff;
    margin-left: 1%;
    margin: 0 auto;
}

label{
    font-weight: 500;
}

/* PÁGINA ver-pedido.php */

th{
    vertical-align:middle !important;
}

td{
    vertical-align:middle !important;
}

.foto-docente{
    float: left;
    position: relative;
    width: 150px;
    height: 250px;
}

/* COMENTADO POR MOTIVO DE REDUNDÂNCIA: CLASSE LABEL SENDO QUE JÁ EXISTE UMA TAG CHAMADA LABEL
   SE ALGO DER ERRADO... DESCOMENTAR
.label{
    max-width: 60px;
    height: auto;
    padding: 0px;
}*/

.p-label{
    width: 200px;
    height: 30px;
    position: relative;
    padding: 0px;
    font-weight: 0;
    font-size: 18px;
    text-transform: uppercase;
}

.frame-arquivos{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 98.8%;
    height: 600px;
    border: 1px solid black;
}